/* uso de variáveis no css para definir cores facilitando a manutençaõ do código */
:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --border-color: #ddd;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: var(--text-color);
}

.food-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food-item {
    width: 300px;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
    border: 1px solid var(--border-color);
}

.food-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;

    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.food-item:hover img {

    transform: scale(1.1);
    filter: brightness(80%);
}

.food-details {
    color: #555;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6;
}

.food-details span {
    font-weight: bold;
    color: var(--text-color);
}


.food-details br {
    display: none;
}

.food-details ul {
    margin: 0;
    padding: 0;
}

.food-details li {
    margin-bottom: 8px;
}